<th class="combinations-th">
  <span class="combinations-th-item-title"><%= item[:title] %></span>
  <figure class="combinations-th-figure">
    <img src="<%= item[:image_path] %>" alt="" class="thumbnail-smaller">
  </figure>
</th>