<main>
  <div class="table-container" id="table-container">
  </div>

  <div class="reset-container">
    <button class="btn-reset" id="btn-reset">Delete all combinations</button>
  </div>

  <div class="modal-background hide">
    <div class="modal">
    </div>
  </div>
</main>

<script id="combinations-table-template" type="text/x-handlebars-template">
  <table id="combinations-table" class="combinations-table" data-row-type="{{rowType}}" data-column-type="{{columnType}}">
    <thead class="combinations-thead">
      <tr>
        <th class="combinations-th"></th>
        {{#each columnItems}}
          {{> tableHeading}}
        {{/each}}
      </tr>
    </thead>
    <tbody class="combinations-tbody">
      {{#each combinationsMatrix}}
        <tr data-row-index="{{@index}}">
          {{> tableHeading rowItem}}
          {{#each combinationsForRow}}
            {{> tableCell columnIndex=@index}}
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</script>

<script id="tableCell" type="text/x-handlebars-template" class="partial">
  <td data-column-id="{{columnId}}" data-row-id="{{rowId}}" data-rating="{{rating}}" data-column-index="{{columnIndex}}" class="combinations-td">
    <div class="cell-data-wrapper">
      <a href="#" class="view-combination">View</a>
      <label for="">Rating:</label>
      {{> ratingSelectMenu rating=rating }}
    </div>
  </td>
</script>

<script id="tableHeading" type="text/x-handlebars-template" class="partial">
  <th class="combinations-th">
    <span class="combinations-th-item-title">{{title}}</span>
    <figure class="combinations-th-figure">
      <img src="{{imagePath}}" alt="" class="thumbnail-smaller">
    </figure>
  </th>
</script>

<script id="ratingSelectMenu" type="text/x-handlebars-template" class="partial">
  <select name="" id="">
    <option value="" {{selectedIfEqual rating ""}}></option>
    <option value="5" {{selectedIfEqual rating 5}}>good</option>
    <option value="3" {{selectedIfEqual rating 3}}>okay</option>
    <option value="0" {{selectedIfEqual rating 0}}>bad</option>
  </select>
</script>

<script id="combination-modal-template" type="text/x-handlebars-template">
  <header class="modal-header combination-modal-header">
    <a href="#" class="btn-help" title="Help & keyboard shortcuts" data-help-misc="foo">
      <i class="fa-solid fa-circle-question"></i>
    </a>
    <p>Rating: {{> ratingSelectMenu rating=rating }}</p>
    <div class="btn-group-zoom">
      <button class="btn-zoom btn-zoom-in">
        <i class="fa-solid fa-magnifying-glass-plus"></i>
      </button>
      <button class="btn-zoom btn-zoom-out" disabled>
        <i class="fa-solid fa-magnifying-glass-minus"></i>
      </button>
    </div>
    <a href="#" class="btn-close">
      <i class="fa-sharp fa-solid fa-xmark"></i>
    </a>
  </header>
  <div class="modal-body combination-modal-body" data-column-id="{{item1.id}}" data-row-id="{{item2.id}}">
    <div class="arrow-container">
      <button class="btn-swipe btn-swipe-left help-text-parent" id="btn-swipe-left" title="Swipe left" data-rating="bad">
        <i class="fa-solid fa-thumbs-down"></i>
        <div class="help-text hide" data-top="105%" data-left="0">
          <p class="help-description">Rate the combination "bad" and show next unrated combination</p>
          <p class="help-shortcuts">Shortcut:
            <span class="key"><-</span> or <span class="key">b</span>
          </p>
        </div>
      </button>
    </div>
    <div class="modal-figure-container help-text-parent">
      <figure class="combination-modal-figure">
        <img src="{{item1.imagePath}}" alt="" class="combination-modal-image" data-zoom="1">
      </figure>
      <figure class="combination-modal-figure">
        <img src="{{item2.imagePath}}" alt="" class="combination-modal-image" data-zoom="1">
      </figure>
      <div class="help-text hide" data-top="0%" data-left="0%">
        <p class="help-description">To mark the combination "okay" and move on:</p>
        <p class="help-shortcuts">Shortcut:
          <span class="key">o</span> or <span class="key">/</span>
        </p>
      </div>
    </div>
    <div class="arrow-container">
      <button class="btn-swipe btn-swipe-right help-text-parent" id="btn-swipe-right" title="Swipe right" data-rating="good">
        <i class="fa-solid fa-thumbs-up"></i>
        <div class="help-text hide" data-top="105%" data-left="-5%">
          <p class="help-description">Rate the combination "good" and show next unrated combination</p>
          <p class="help-shortcuts">Shortcut:
            <span class="key">-></span> or <span class="key">g</span>
          </p>
        </div>
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn-skip help-text-parent" title="Show next unrated combination">
      <span>Next</span>
      <div class="help-text hide" data-top="-100%" data-left="103%">
        <p class="help-description">Show next unrated combination</p>
        <p class="help-shortcuts">Shortcut:
          <span class="key">s</span> or <span class="key">Spacebar</span>
        </p>
      </div>
    </button>
  </div>
</script>

<script id="type-selector" type="text/x-handlebars-template">
  Viewing:
  <select name="" id="types">
    <option value="shirt-pants">shirts and pants</option>
    <option value="shirt-sweater">shirts and sweaters</option>
    <option value="shirt-shoes">shirts and shoes</option>
    <option value="pants-sweater">pants and sweaters</option>
    <option value="pants-shoes">pants and shoes</option>
    <option value="sweater-shoes">sweaters and shoes</option>
  </select>
</script>