<main>
  <div class="wrapper">
    <nav class="add-button-nav">
      <ul class="add-button-nav-links">
        <% @types.each do |type| %>
          <li>
            <a href="#" class="btn-add-item" id="add-<%= type %>">Add <%= type %></a>
          </li>
        <% end %>
      </ul>
    </nav>

    <!-- {:id=>2,
 :type=>"pants",
 :image_path=>"images/pants/brown cords.jpg",
 :spring=>true,
 :summer=>true,
 :fall=>true,
 :winter=>true,
 :dirty=>false,
 :damaged=>false} -->

    <section class="items">
      <div class="shirts item-section" id="shirts">
        <%= erb '_item_section'.to_sym, locals: { items: @shirts, heading: 'Shirts' } %>
      </div>
      <div class="pants item-section" id="pants">
      </div>
      <div class="sweaters item-section" id="sweaters">
      </div>
      <div class="shoes item-section" id="shoes">
      </div>
    </section>

    <section class="combination-links">
      <h2>Combinations By Type</h2>
      <nav>
        <ul>
          <li><a href="combinations?type1=shirt&type2=pants" class="combination-link">shirt-pants</a></li>
          <li><a href="combinations?type1=shirt&type2=sweater" class="combination-link">shirt-sweater</a></li>
          <li><a href="combinations?type1=shirt&type2=shoes" class="combination-link">shirt-shoes</a></li>
          <li><a href="combinations?type1=pants&type2=sweater" class="combination-link">pants-sweater</a></li>
          <li><a href="combinations?type1=pants&type2=shoes" class="combination-link">pants-shoes</a></li>
          <li><a href="combinations?type1=sweater&type2=shoes" class="combination-link">sweater-shoes</a></li>
        </ul>
      </nav>
    </section>

    <div class="modal-background hide">
      <div class="modal">
      </div>
    </div>
  </div>
</main>

<script id="item-list-template" type="text/x-handlebars-template">
  <h3 class="item-section-heading">{{heading}}</h3>
  <ul class="item-list">
    {{#each items}}
    <li class="item-li">
      <a href="#" class="item-link" data-id="{{id}}" data-type="{{../type}}">
        <figure class="item-figure">
          <img src="{{imagePath}}" class="item-img-thumb" alt="">
        </figure>
        <div class="item-info">
          <h4 class="item-title">{{title}}</h4>
          <div class="item-icon-tags">
            {{#each (seasonTags .)}}
              {{#unless (allSeasonsTag .)}}
                {{>tagIcon tagName=.}}
              {{/unless}}
            {{/each}}

            {{#each (flawTags .)}}
              {{>tagIcon tagName=.}}
            {{/each}}
          </div>
        </div>
      </a>
    </li>
    {{/each}}
  </ul>
</script>

<script id="tagTemplate" type="text/x-handlebars-template" class="partial">
  <span class="item-tag {{extraClass}}">{{tagName}}</span>
</script>

<script id="tagIcon" type="text/x-handlebars-template" class="partial">
  <span class="item-icon-tag" data-name="{{tagName}}" title="{{tagName}}">
    <i class="{{findIconClass tagName}}"></i>
  </span>
</script>

<script id="new-item-template" type="text/x-handlebars-template">
  <header class="modal-header">
    <h2 class="modal-heading">New {{titleCase itemType}}</h2>
    <a href="#" class="btn-close">
      <i class="fa-sharp fa-solid fa-xmark"></i>
    </a>
  </header>
  <div class="modal-body">
    <form action="#" method="post" id="new-item">
      <input type="hidden" name="type" id="type" value="{{itemType}}">
      <dl>
        <dt>
          <label for="image-path">Image Path</label>
        </dt>
        <dd>
          <input type="text" id="image-path" name="image-path" value="">
        </dd>
        <dt>
          <label for="image-path">Title (Optional)</label>
        </dt>
        <dd>
          <input type="text" id="title" name="title" value="">
        </dd>
        <dd class="checkbox-with-label">
          {{#each seasons}}
            <input type="checkbox" name="{{.}}" id="{{.}}" checked>
            <label for="{{.}}">{{titleCase .}}</label>
          {{/each}}
        </dd>
        <dd class="checkbox-with-label">
          <input type="checkbox" name="dirty" id="dirty">
          <label for="dirty">Dirty</label>
        </dd>
        <dd class="checkbox-with-label">
          <input type="checkbox" name="damaged" id="damaged">
          <label for="damaged">Damaged (ripped, stained, etc.)</label>
        </dd>
      </dl>
      <button type="submit" id="new-item-submit">Save</button>
    </form>
  </div>
</script>

<script id="show-item-template" type="text/x-handlebars-template">
  <header class="modal-header">
    <div class="modal-header-btn-group-left">
      <button class="btn-delete" title="Delete item" data-id="{{id}}" data-item-type="{{type}}">
        <i class="fa-solid fa-trash-can"></i>
      </button>
      <button class="btn-edit" title="Edit item" data-id="{{id}}" data-item-type="{{type}}">
        <i class="fa-solid fa-pencil"></i>
      </button>
    </div>
    <button class="btn-zoom btn-zoom-in">
      <i class="fa-solid fa-magnifying-glass-plus"></i>
    </button>
    <button class="btn-zoom btn-zoom-out" disabled>
      <i class="fa-solid fa-magnifying-glass-minus"></i>
    </button>
    <a href="#" class="btn-close">
      <i class="fa-sharp fa-solid fa-xmark"></i>
    </a>
  </header>
  <div class="modal-body modal-show-item-body"  data-item-id="{{id}}" data-item-type="{{type}}">
    <div class="modal-show-item-arrow-container">
      <button class="btn-arrow btn-arrow-left" title="Previous item">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
    </div>
    <figure class="modal-show-item-figure">
      <img src="{{imagePath}}" class="modal-image-item" alt="" data-id="{{id}}" data-zoom="1">
    </figure>
    <div class="modal-show-item-arrow-container">
      <button class="btn-arrow btn-arrow-right" title="Next item">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <div class="modal-item-info">
      <h4 class="item-show-modal-title">{{title}}</h4>
      <div class="tags">
        {{#each (seasonTags .)}}
          {{#if (allSeasonsTag .)}}
            {{>tagTemplate tagName=. extraClass="item-tag-all-seasons"}}
          {{else}}
            {{>tagTemplate tagName=. extraClass="item-tag-one-season"}}
          {{/if}}
        {{/each}}

        {{#each (flawTags .)}}
          {{>tagTemplate tagName=. extraClass="item-tag-flaw"}}
        {{/each}}
      </div>
    </div>
  </div>
</script>

<script id="edit-item-template" type="text/x-handlebars-template">
  <header class="modal-header">
    <h2 class="modal-heading">Edit {{titleCase item.type}}</h2>
    <a href="#" class="btn-close">
      <i class="fa-sharp fa-solid fa-xmark"></i>
    </a>
  </header>
  <div class="modal-body">
    <figure class="modal-edit-figure">
      <img src="{{item.imagePath}}" alt="" class="thumbnail-larger">
    </figure>
    <h1>imagine!</h1>
    <form action="#" method="post" id="edit-item">
      <input type="hidden" id="id" name="id" value="{{item.id}}">
      <input type="hidden" id="type" name="name" value="{{item.type}}">
      <dl>
        <dt>
          <label for="image-path">Image Path</label>
        </dt>
        <dd>
          <input type="text" id="image-path" name="image-path" value="{{item.imagePath}}">
        </dd>
        <dt>
          <label for="image-path">Title (Optional)</label>
        </dt>
        <dd>
          <input type="text" id="title" name="title" value="{{item.title}}">
        </dd>
        <dd class="checkbox-with-label">
          <input type="checkbox" name="spring" id="spring" {{checkedOrNot item.spring}}>
          <label for="spring">Spring</label>
          <input type="checkbox" name="summer" id="summer" {{checkedOrNot item.summer}}>
          <label for="summer">Summer</label>
          <input type="checkbox" name="fall" id="fall" {{checkedOrNot item.fall}}>
          <label for="fall">Fall</label>
          <input type="checkbox" name="winter" id="winter" {{checkedOrNot item.winter}}>
          <label for="winter">Winter</label>
        </dd>
        <dd class="checkbox-with-label">
          <input type="checkbox" name="dirty" id="dirty" {{checkedOrNot item.dirty}}>
          <label for="dirty">Dirty</label>
        </dd>
        <dd class="checkbox-with-label">
          <input type="checkbox" name="damaged" id="damaged" {{checkedOrNot item.damaged}}>
          <label for="damaged">Damaged (ripped, stained, etc.)</label>
        </dd>
      </dl>
      <button type="submit" id="new-item-submit">Save</button>
    </form>
  </div>
</script>

<script id="page-nav-template" type="text/x-handlebars-template">
  <nav class="page-nav">
    <ul class="header-nav-ul">
      <li><a href="#shirts" class="header-nav-link">Shirts</a></li>
      <li><a href="#pants" class="header-nav-link">Pants</a></li>
      <li><a href="#sweaters" class="header-nav-link">Sweaters</a></li>
      <li><a href="#shoes" class="header-nav-link">Shoes</a></li>
    </ul>
  </nav>
</script>