body {
  background: #ececef;
}

.page-header {
  height: var(--header-height);
}

.logo-heading {
  font-size: 1.5rem;
}

select {
  outline: none;
}

.combinations-table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 15px 0;
}

.combinations-th {
  border: 1px solid #555;
  background: #dedede;
  font-weight: normal;
}

.combinations-thead .combinations-th {
  position: sticky;
  top: 0;
  z-index: 10;
  vertical-align: bottom;
}

.combinations-thead .combinations-th:first-child {
  position: sticky;
  left: 0;
  z-index: 20;
  background: #dedede;
}

.combinations-td {
  border: 1px solid #555;
  background: #ececef;
}

.combinations-td label {
  padding: 0 0 0.2rem 0;
}

.combinations-td[data-rating="0"] {
  background: #faa;
}

.combinations-td[data-rating="5"] {
  background: #afa;
}

.combinations-td[data-rating="3"] {
  background: #ffa;
}

.combinations-tbody .combinations-th:first-child {
  position: sticky;
  left: 0;
  z-index: 10;
}

.combinations-th-item-title {
  display: inline-block;
  margin: 0 0 10px 0;
}

.combinations-th-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.cell-data-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view-combination {
  color: maroon;
  text-align: center;
  display: block;
  margin: 0 0 5px 0;
}

/***
 * view-combination modal
***/

.modal {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.combination-modal-header {
  padding: 1rem 0 1rem 0;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn-help {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.btn-help i {
  font-size: 1.6rem;
  color: #555;
}

.combination-modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn-swipe {
  color: #444;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  box-sizing: border-box;
}

#btn-swipe-right {
  color: #070;
}

#btn-swipe-left {
  color: #900;
}

.btn-swipe i {
  font-size: 1.8rem;
}

.modal-figure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.combination-modal-figure {
  width: 400px;
  max-height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.combination-modal-image[data-zoom="1"] {
  width: 400px;
}

.combination-modal-image[data-zoom="2"] {
  width: 800px;
}

.combination-modal-image[data-zoom="3"] {
  width: 1200px;
}

.modal-footer {
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-skip {
  padding: 0.5rem 0.9rem;
  cursor: pointer;
}

.help-text-parent {
  position: relative;
}

.help-text {
  display: block;
  position: absolute;
  padding: 5px;
  width: 160px;
  height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffa;
  border: 1px solid #55a;
  z-index: 100;
  font-size: 0.9rem;
}

.help-description {
  color: navy;
  text-align: center;
}

.help-shortcuts {
  text-align: center;
  color: orangered;
}

.key {
  background: #eaeaea;
  border: 1px solid #666;
  padding: 0.2rem;
  display: inline-block;
  border-radius: 5px;
  color: #000;
}

.reset-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem 1rem 1rem;
}

.btn-reset {
  background: hsl(0, 70%, 80%);
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 1px 2px #777;
  cursor: pointer;
}