/***
 * table-settings
***/

.table-settings {
  padding: 10px 0 10px 0;
}

.settings-dl {
  height: 40px;
  display: flex;
}

.settings-dt {
  display: inline-flex;
  align-items: center;
  padding: 0 10px 0 0;
}

.settings-dd {
  display: inline-flex;
  align-items: center;
  padding: 0 40px 0 0;
}

.settings-dd p {
  text-align: center;
  display: inline-block;
  background: lightskyblue;
}

.settings-input {
  margin: 0;
  transform: scale(1.2);
}

select {
  outline: none;
}

.seasons {
  padding: 0 0 0 0.2rem;
  font-size: 1rem;
  margin: 0 0 0 -0.2rem;
  border-radius: 5px;
}

.outfits-message {
  padding: 1rem 0 0 0;
}

.outfits {
  border-collapse: separate;
  border-spacing: 0;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
}

.outfits-tr:nth-child(odd) {
  background: #e0eeee;
}

.outfits-th:last-child,
.outfits-td:last-child {
  border-right: 1px solid #333;
}

.outfits-th {
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  padding: 0.5rem;
}

.outfits-td {
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  text-align: center;
  padding: 0.7rem 0.8rem 0.5rem;
}

.outfits-td-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.view-outfit {
  color: maroon;
}

/***
 * modal
***/

.outfits-modal {
  padding: 0.75rem;
}

.outfit-modal-header {
  align-items: center;
  justify-content: center;
  height: 2.5rem;
}

.modal-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.outfit-modal-figure {
  width: 400px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.outfit-modal-image[data-zoom="1"] {
  width: 400px;
}

.outfit-modal-image[data-zoom="2"] {
  width: 800px;
}

.outfit-modal-image[data-zoom="3"] {
  width: 1200px;
}


